/* 3 in = 100 px */
/* 1 in = 100/3 px */

body {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

h2 {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

h3 {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

#main {
    width: 600px;
    padding: 15px;

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#profile {
    width: 546px;
    height: 180px;

    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 50px;
}

#profilePhoto {
    height: 142px;
    width: 142px;
    border-radius: 50%;
}

#profileInfoContainer {
    height: 100%;
    width: 345px;

    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

#profileInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#usernameContainer {
    display: flex;
    align-items: center;
}

#checkmark {
    height: 50px;
    width: auto;
}

#postThumbnails {
    width: 546px;
    height: 100px;

    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

.postThumbnail {
    position: relative;
    box-sizing: border-box;
    width: 182px;
    height: 182px;

    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.thumbnail {
    box-sizing: border-box;
    width: 178px;
    height: 178px;
}

.postIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 20;
}

.post {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.content {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    margin: 0px;
    
    border-color: black;
    border-style: solid;
}

.postInfo {
    box-sizing: border-box;
    width: 500px;
    margin: 0px;
    padding: 5px;

    border-color: black;
    border-style: solid;
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;

    background: none;
    border: none;

    color: darkgrey;
    font-size: 40px;
    z-index: 20;
}

.icon {
    height: 50px;
    width: 50px;
}

.likes {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.caption {
    max-height: 200px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}

.carousel {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.carouselInner {
    white-space: nowrap;
    transition: ease 1s;
}

.carouselItem {
    display: inline-block;
    background-color: black;
}

.carouselItemContent {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    margin: 0px;
}

.carouselControl {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 70px;
    top: calc(50% - 25px);
    color: #f3f3f3;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.carouselIndicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
}

.carouselIndicatorItem {
    width: 15px;
    height: 15px;
    border: none;
    background: #FFF;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    opacity: 1;
}
